*{
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin:0px;
    padding: 0px;

}

.header {
    display:flex;
    justify-content: space-between;
    padding:10px;
    align-items: center;
    gap:6px;
   }

   .header, .footer{
    background-color: #1f2937;
    color:aliceblue
}

#goBack {
    margin:12px 36px 12px auto;
    font-size:2em;
}

.footer {
    display: flex;
    padding:10px;
    justify-content: center;
    align-items: center;
    margin-top:auto;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:3px;
    padding:2px;
}

.words{
    display:grid;
    gap:5px;
    width:300px;
    height: 400px;
    background-color: antiquewhite;
    margin:10px;
}

.guess{
    display: grid;
    gap: auto;
    width:300px;
    height: 100px;
    margin:10px;
}

.letter, .letterGuessed{
    box-sizing: border-box;
    width:100%;
    max-height: 2.5em;
    padding:2px;
    border: 1px solid black;
    font-size: 2em;
    text-align: center;
}

.alphaBox{
    display:flex;
    flex-wrap: nowrap;
    gap:2px;
    justify-content: center;
    align-items: center;
    width:500px;
    height:auto;
    text-align: center;
    
}

.alphaBox>div{
    text-align: center;
    background-color: darkgray;
    margin:2px;
    width:1.25em;
    height: 1.25em;
    font-size:2.25em;
}

button{
    font-size: large;
}