* text{
    text-align: center;
    box-sizing: border-box;
    font-size: large;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin:0px;
    padding: 0px;
    height:100vh;
    width: 100%;
}

.header {
    font-size: x-large;
    display:flex;
    justify-content: space-between;
    padding:10px;
    align-items: center;
    gap:5px;
   }

.header, .footer{
    background-color: #1f2937;
    color:aliceblue
}

#goBack {
    margin:12px 36px 12px auto;
    font-size:2em;
}

.footer {
    display: flex;
    padding:10px;
    justify-content: center;
    align-items: center;
    margin-top:auto;
}

#resetBtn,#guessSubmit{
    font-size: large;
}

.main{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin:3px 5px 20px 5px;
    padding:2px;
    gap:2px;
    width:100%;
    height: auto;
}


.button{
    display: flex;
    justify-content: space-around;
    gap:20px;
    font-size: large;
}

.words{
    display:grid;
    gap:5px;
    width:350px;
    height: 400px;
    background-color: antiquewhite;
    margin:3px;
}

.guess{
    display: grid;
    gap: 5px;
    width:350px;
    height: auto;
    margin:10px;
}

.letter, .wordGuessed{
    box-sizing: border-box;
    width:100%;
    height: 3em;
    padding:1px;
    border: 1px solid black;
    font-size: large;
    text-align: center;
}

.alphabet{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width:max-content;
    max-width:40%;
}

.alphaBox{
    display:flex;
    flex-wrap: nowrap;
    gap:2px;
    justify-content: center;
    align-items: center;
    height:auto;
    text-align: center;
}

.alphaBox>div{
    text-align: center;
    background-color: darkgray;
    margin:2px;
    width: 2rem;
    height: 2rem;
    padding: 4px;
    font-size:2rem;
}